<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="zxcforum.Properties.Settings.zxcforumConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=zxcforum;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="zxcforum.Properties.Settings.kinorakendusConnectionString"
            connectionString="Data Source=DESKTOP-O697USL;Initial Catalog=kinorakendus;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="zxcforum.Properties.Settings.zxcforumConnectionString1"
            connectionString="Data Source=DESKTOP-O697USL;Initial Catalog=zxcforum;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>